<!doctype html>
<html lang="en">

<body>
    <table align='center' border='0' width='100%' bgcolor='#eeeeee' cellpadding='0' cellspacing='0' style='border-collapse:separate'>
        <tbody>
            <tr>
                <td bgcolor='#eeeeee' style='padding:0 0px 120px;margin:0' width='100%;'>
                    <table align='center' border='0' width='490' cellpadding='10' cellspacing='0'>
                        <tbody>
                            <tr>
                                <td align='center' style='padding:30px 0px;color:rgb(238,238,238);text-align:center' width='100%'>
                                    <img alt=''>
                                    <br>
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align='center' width='490' border='0' cellpadding='15' cellspacing='0' style='border:1px solid rgb(204,204,204);border-radius:10px'>
                        <tbody>
                            <tr>
                                <td align='left' bgcolor='#ffffff' style='border-top-left-radius:10px;border-top-right-radius:10px;padding-top:25px'>
                                    <table align='center' border='0' cellpadding='0' cellspacing='0' width='100%'>
                                        <tbody>
                                            <tr>
                                                <td align='left' bgcolor='#ffffff' style='padding-top:5px;padding-bottom:25px;margin:0'>
                                                    <span style='color:#bf0426;font-weight:normal;font-size:18px;font-family:Helvetica,Arial,sans-serif'>Dear {{username}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align='left' bgcolor='#ffffff' style='padding-bottom:20px;margin:0'><span style='color:rgb(38,38,38);font-weight:normal;font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:22px'> You was invited to <b></b> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align='left' bgcolor='#ffffff' style='padding-bottom:20px;margin:0'><span style='color:rgb(38,38,38);font-weight:normal;font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:22px'>  </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align='left' bgcolor='#ffffff' style='padding-bottom:0;margin:0'><span style='color:rgb(38,38,38);font-weight:bold;font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:22px'> Please click the following button: </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align='center' bgcolor='#ffffff' width='100%' style='border-radius:4px'>
                                    <table align='center' border='0' cellpadding='0' width='100%' cellspacing='0' style='border-radius:4px'>
                                        <tbody>
                                            <tr>
                                                <td align='center'>
                                                    <table align='center' bgcolor='#01afec' border='0' cellpadding='0' width='70%' cellspacing='0' style='border-radius:4px'>
                                                        <tbody>
                                                            <tr>
                                                                <td align='center' height='54' style='padding:0;border-radius:4px;border:1px solid rgba(0,0,0,0.0980392);text-align:center;display:block;min-height:40px;line-height:40px;color:rgb(255,255,255);font-weight:bold;font-size:24px;font-family:Helvetica,Arial,sans-serif;text-decoration:none'>
                                                                    <a href='' style='text-decoration: none;' target='_blank'>
                                                    Accept invite > </a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align='left' bgcolor='#ffffff' style='padding:0 15px 30px;border-bottom-right-radius:10px;border-bottom-left-radius:10px'><span style='color:rgb(85,85,85);font-weight:normal;font-size:15px;font-family:Arial,Helvetica,sans-serif;line-height:22px'> --<br> Best wishes,<br>Your MagicBanner Team</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class='yj6qo'></div>
    <div class='adL'></div>
    </div>
</body>

</html>
